<p class="name"><%= provider.user.first_name %> <%= provider.user.last_name %></p>
<% provider.rating.times do  %>
<i class="fa fa-star " ></i>
<% end %>

<p class="statement"><%= provider.statement %></p>

<p><%= provider.location %></p>
