// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

// PamperMe Specific Colors:
$white: #FFFFFF;
$blue: #193CE2;
$green: #00f0b5;
$gray: #E6E6E6;
$black: #000000;
