<div class="footer">
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i>  by Adam, Jacob and Alicia.
  </div>

<!--   <div class="footer-links">
    <ul>
      <li>Adam <a href="#"><i class="fab fa-github"></i></a></li>
      <li>Alicia <a href="#"><i class="fab fa-github"></i></a></li>
      <li>Jacob <a href="#"><i class="fab fa-github"></i></a></li>
    </ul>
  </div> -->

</div>

