.dashboardbanner {
  height: 100px;
  background-image: linear-gradient(to right, gold 30%, transparent 80%),
                    url('https://i.imgur.com/waDgcnc.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%, cover;
}


.dashboardbanner {
  background-image: linear-gradient(to bottom, $blue, $blue, $green);
  height: 30vw;
  padding: 20px 10px 10px 10px;
}

.dashboardbanner h2 {
  color: $white;
  opacity: 0.95;
}

.dashboardbanner p {
  color: $white;
  opacity: 0.95;
}
