.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 16px;
  margin-top: 0px;
  color: rgba(0,0,0,0.3);
  // position-bottom: 100vh;
  @include media-breakpoint-up(md) {
    padding: 2em 50px;
  }
  @include media-breakpoint-up(lg) {
    padding: 2em 50px;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline;
    text-align: center;
  }
}

