.input_field {
  display: flex;
  align-items: center;
  background-color: $gray;
  border: 1px solid $gray;
  border-opacity: 0.7;
  border-radius: 3px;
  width: 334px;
  height: 40px;
  margin-top: 10px;
  padding: 5px 10px 5px 20px
}

.form-control p {
  color: $gray;
  opacity: 0.7;
  margin: 0px;
  font-family: $body-font;
}

.search .button-primary {
  margin-top: 20px;
}
