.input_field {
  display: flex;
  align-items: center;
  background-color: $white;
  border: 1px solid $gray;
  border-opacity: 0.35;
  border-radius: 3px;
  width: 334px;
  height: 50px;
  margin: 0px;
}

.input_field p {
  color: $gray;
  opacity: 0.35;
  margin: 0px;
}

.input_field i {
  color: $gray;
  opacity: 0.35;
}
