.input_field {
  display: flex;
  align-items: center;
  background-color: $light-gray;
  border: 1px solid $gray;
  border-opacity: 0.35;
}

.input_field p {
  color: $gray;
  opacity: 0.35;
}

.input_field i {
  color: $gray;
  opacity: 0.35;
}
