#map {
  height: 90vh;
  widows: 100%;
}

.mapboxgl-popup {
  max-width: 200px;
  color: $black;
  font-family: $body-font;
  text-align: right;
  font-size: 16px;
  font-weight: 100;
  .name {
    font-size: 24px;
    font-weight: 500px;
    font-style: bold;
    color: $blue;
  }
}

.mapboxgl-popup-content {
  text-align: center;
}
.marker {
  background-image: url('https://i.imgur.com/8xA7CvZ.png');
  background-size: cover;
  // background-color: $blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


