#map {
  height: 75vh;
  width: 100vw;
}

.mapboxgl-popup {
  max-width: 200px;
  color: $black;
  font-family: $body-font;
  text-align: right;
  // font-size: 12px;
  font-weight: 100;
  .name {
    font-size: 16px;
    font-weight: 500;
    color: $black;
  }
}

.popup_window_content {
  margin: 8px;
}


.fa-star {
  color: $green;
  margin-top: 12px;
}
.mapboxgl-popup-content {
  text-align: left;
    padding: 10px 10px 10px !important;
  p {
    margin: 0px;
    // padding-top: 4px;
    font-size: 12px;
    opacity: .70%;
  }
}
.marker {
  background-image: url('https://i.imgur.com/qeaaFWD.png');
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}


// green stars, padding for box 5%
