.provider-show-images {
  width: 100vw;
  height: 40vh;
  background-image: url(https://images.unsplash.com/photo-1478070531059-3db579c041d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
  background-position: center;
  background-size: cover;
}

.provider-show-intro {
  width: 100vw;
  min-height: 5vh;
  padding: 5vw 7vw;
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

.provider-show-avatar .provider-show-avatar-img {
  width: 8vh;
  height: 8vh;
  // image: cover;
  border-radius: 50%;
}

.provider-show-name-description {
  // margin-right: 10vw;
  .name {
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
  }
  .statement {
    font-size: 16px;
    font-weight: 100;
    margin: 0px;
  }
}

// line for the top if we decide to make the first line under the name and photo
// hr {
//     display: block;
//     height: 1px;
//     // width: 80vw;
//     border: 0;
//     border-top: 1px solid #ccc;
//     margin: 0 auto;
//     padding: 0;
// }

hr {
    display: block;
    height: 1px;
    width: 87vw;
    // width: 80vw;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 0;
}

.provider-show-rating {
  display: flex;
}

.provider-show-description {
  padding: 5vw 7vw;
  p {
    margin: 0px;
    letter-spacing: 1;
    opacity: .70;
  }
}

.provider-show-icons {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 5vw 7vw;
  color: $green;
  i {
    font-size: 27px;
    // opacity: .70;
  }
}

.provider-show-rating {
  display: flex;
  align-items: flex-start;
  p {
    margin: 0;
    font-size: 24px;
  }
  i {
    color: $green;
    font-size: 12px;
  }
}

.provider-show-services {
  width: 100vw;
  padding:5vw 11vw;
  padding-top: 0vw;
  .col-form-label {
    display: none;
  }
  .collection_radio_buttons {
    // font-size: 16px;
    font-weight: 100;
    // margin: 0px;
  }
}

.provider-show-insta-logo {
  text-align: center;
  font-size: 5vh;
  align-items: baseline;
  i {
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.provider-show-instagram {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // align-content: space-around;
  // width: 100vw;
  padding: 5vw 7vw;
  padding-top: 0vw;
  img {
    width: 35vw;
    height: 35vw;
    object-fit: cover;
    margin-bottom: 8vw;
  }
}
