<div class="banner-signup">
  <div class="login-signup-container">
    <p>Ugh Oh!  Looks like you need to be logged in for that!</p>
    <p class="subtitle">Enjoy PamperMe with a Free Account! </p>

    <div class="ugh-oh-buttons-div">
      <%= link_to 'Log in', new_user_session_path, { :class => "button-primary", :id => "ugh-oh-button-left", 'data-toggle' => 'modal', 'data-target' => '#sign-in-modal' } %>
      <%= link_to 'Sign up', new_user_registration_path, { :class => "button-primary", :id => "ugh-oh-button-right", 'data-toggle' => 'modal', 'data-target' => '#sign-up-modal' } %>
    </div>
  </div>
</div>
